* {
  background-color: rgb(0, 0, 0);
  /* overflow-x: hidden; */
}
h1 {
  text-align: center;
  /* padding-top: 2rem; */
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 50px;
  font-family: "Bebas neue", sans-serif;
  /* text-transform: uppercase; */
}
#box-a {
  height: 500px;
  width: 1500px;
  background-color: rgb(0, 0, 0);
  background-size: 99vw 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: 2.5rem;
}
#box1 {
  height: 400px;
  width: 300px;
  border: 1px solid black;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5rem;
  background-image: url(/mov1.jpg);
  background-size: 300px 320px;
  align-items: center;
  background-repeat: no-repeat;
  transition-duration: 0.8s;
}
#box1:hover {
  transform: scale(1, 1.1);
  border: 2px solid white;
}
#box2 {
  height: 400px;
  width: 300px;
  border: 1px solid black;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5rem;
  background-image: url(/mov2.jpg);
  background-size: 300px 320px;
  align-items: center;
  background-repeat: no-repeat;
  transition-duration: 0.8s;
}
#box2:hover {
  transform: scale(1, 1.1);
  border: 2px solid white;
}
#box3 {
  height: 400px;
  width: 300px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5rem;
  background-image: url(/mov3.jpg);
  background-size: 300px 320px;
  align-items: center;
  background-repeat: no-repeat;
  transition-duration: 0.8s;
}
#box3:hover {
  transform: scale(1, 1.1);
  border: 2px solid white;
}
#btn1 {
  height: 40px;
  width: 100px;
  background-color: white;
  margin-top: 20rem;
  border: 1px solid;
  border-radius: 0.4rem;
  background-color: black;
  color: white;
  transition-duration: 0.5s;
}
#btn1:hover {
  background-color: rgb(228, 30, 30);
}
#btn2 {
  height: 40px;
  width: 100px;
  background-color: white;
  margin-top: 20rem;
  border: 1px solid;
  border-radius: 0.4rem;
  background-color: black;
  color: white;
  transition-duration: 0.5s;
}
#btn2:hover {
  background-color: rgb(214, 39, 27);
}
#btn3 {
  height: 40px;
  width: 100px;
  background-color: white;
  margin-top: 20rem;
  border: 1px solid;
  border-radius: 0.4rem;
  background-color: black;
  color: white;
  transition-duration: 0.5s;
}
#btn3:hover {
  background-color: rgb(214, 39, 27);
}

/* box-b codes */
#box-b {
  height: 500px;
  width: 1500px;
  background-color: rgb(0, 0, 0);
  background-size: 99vw 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: 2.5rem;
}
#box4 {
  height: 400px;
  width: 300px;
  border: 1px solid black;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5rem;
  background-image: url(/mov4.jpg);
  background-size: 300px 320px;
  align-items: center;
  background-repeat: no-repeat;
  transition-duration: 0.8s;
}
#box4:hover {
  transform: scale(1, 1.1);
  border: 2px solid white;
}
#box5 {
  height: 400px;
  width: 300px;
  border: 1px solid black;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5rem;
  background-image: url(/mov5.jpg);
  background-size: 300px 320px;
  align-items: center;
  background-repeat: no-repeat;
  transition-duration: 0.8s;
}
#box5:hover {
  transform: scale(1, 1.1);
  border: 2px solid white;
}
#box6 {
  height: 400px;
  width: 300px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5rem;
  background-image: url(/mov6.jpg);
  background-size: 300px 320px;
  align-items: center;
  background-repeat: no-repeat;
  transition-duration: 0.8s;
}
#box6:hover {
  transform: scale(1, 1.1);
  border: 2px solid white;
}
#btn4 {
  height: 40px;
  width: 100px;
  background-color: white;
  margin-top: 20rem;
  border: 1px solid;
  border-radius: 0.4rem;
  background-color: black;
  color: white;
  transition-duration: 0.5s;
}
#btn4:hover {
  background-color: rgb(228, 30, 30);
}
#btn5 {
  height: 40px;
  width: 100px;
  background-color: white;
  margin-top: 20rem;
  border: 1px solid;
  border-radius: 0.4rem;
  background-color: black;
  color: white;
  transition-duration: 0.5s;
}
#btn5:hover {
  background-color: rgb(214, 39, 27);
}
#btn6 {
  height: 40px;
  width: 100px;
  background-color: white;
  margin-top: 20rem;
  border: 1px solid;
  border-radius: 0.4rem;
  background-color: black;
  color: white;
  transition-duration: 0.5s;
}
#btn6:hover {
  background-color: rgb(214, 39, 27);
}
